body{
    background-color: black;
    color: white;
    background-image: url("../Imagens/fundo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container{
    text-align: center;
    padding: 28px;
    height: 100vh;
    font-size: 20px;
    margin-bottom: 20px;
}

.titulo{
    font-size: 40px;
    margin: 10px;
}